* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto, Arial;

    color: #eee;
    background: #333;
}

a {
    color: lightblue;
}

.tab-manager {
    display: block;
    min-height: 200px;
    width: 600px;
    padding: 30px;
    max-width: calc(100% - 40px);
    margin: 200px auto 20px auto;

    border-radius: 3px;
    background: lightgrey;
}

    .tab-manager__header {
        display: flex;
        align-items: center;
    }

        .tab-manager__controls {
            flex-shrink: 1;
            display: flex;
            align-items: center;
        }

            .tab-manager__backwards-button:before {
                content: 'B';
            }

            .tab-manager__forwards-button:before {
                content: 'F';
            }
        
        .tab-manager--tab-links {
            display: flex;
            flex-grow: 1;
            overflow: hidden;
            overflow-x: auto;
            overflow-y: visible;
        }

/*--------------------------*/

.tab-link {
    opacity: 0.5;
    display: flex;
    align-items: center;
    width: auto;
    margin: 0px 3px 0px 0px;
    padding: 0px 3px;
    background: saddlebrown;
}

.tab-link.focused {
    opacity: 1;
}

    .tab-link span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .tab-link button:before {
        content: 'X';
    }

/*--------------------------*/

.tab-panel {
    display: none;
    width: 100%;
    min-height: 200px;
    padding: 10px;

    background-color: #333;
}
.tab-panel.focused {
    display: block;
}

/*--------------------------*/

p {
    margin: 0px auto 20px auto;
}